@model Getdata1.Areas.Admin.ViewModels.CustomerIndexVM   
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Customers";
}

<main>
    <div class="head-title">
        <div class="left">
            <h1>Customers</h1>
            <ul class="Breakcrumb">
                <li><a href="#">Admin</a></li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li><a class="active" href="#">Overview</a></li>
            </ul>
        </div>
    </div>

    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Customer Retention</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Role</th>
                        <th>Orders</th>
                        <th>Revenue</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cus in Model.Customers)
                    {
                        <tr>
                            <td>
                                <div style="display: flex; align-items: center;">
                                    <img src="~/img/no-img.jfif" alt="@cus.Name" style="width: 32px; height: 32px; border-radius: 50%; margin-right: 12px;">
                                    <p>@cus.Name</p>
                                </div>
                            </td>
                            <td>
                                <span class="status @cus.Role.ToLower()">@cus.Role</span>
                            </td>
                            <td>@cus.OrderCount</td>
                            <td>@cus.TotalSpent.ToString("#,##0") ₫</td>
                            <td>
                                <span class="status @cus.Status.ToString().ToLower()">
                                    @cus.Status
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

             @await Html.PartialAsync("pagination_table", Model)
        </div>
    </div>
</main>
